* {
    box-sizing: border-box;
}

.article {
    border: solid 3px black;
    padding: 10px;
}

.article-img {
    width: 300px;
    height: auto;
}

.float-left {
    float: left;
    margin-right: 10px;
}

.float-right {
    float: right;
    margin-right: 10px;
}

#float-box1 {
    border: 1px solid black;
}

#float-box1 > img {
    width: 200px;
    height: auto;
    border: 1px solid black;
}

#float-image1 {
    float: left;
}

#float-image2 {
    float: right;   
}

#float-image3 {
    float: left;
}

#float-box2 {
    width: 1000px;
    margin: auto;
}

#float-box2 > div {
    float:left;
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#float-box2 > div:first-child{
    background-color: salmon;
    height: 150px;
    width: 100px;
    Line-height: 150px;
}

#float-box2 > div:nth-child(2) {
    background-color: linen;
    height : 500px;
    width: 15%;
    Line-height: 500px
}

#float-box2 > div:nth-child(3) {
    background-color: peru;
    height : 500px;
    width: 70%;
    Line-height: 500px
}

#float-box2 > div:nth-child(4) {
    background-color: darkcyan;
    height : 500px;
    width: 10%;
    Line-height: 500px
}

#float-box2 > div:nth-child(5) {
    background-color: cornflowerblue;
    height : 150px;
    width: 100%;
    Line-height: 150px;
}

/* float을 clear하기 위해 ::after 가상요소를 사용할 수 있다 */
#float-box2::after {
    display: block;
    clear: both;
    content: "";
}

#book_info {
    width: 330px;
    background-color: linen;
}

#book_info > div {
    float: left;
}

.badge_list_box {
    width: 100%;
    line-height: 1.6em;
    user-select:none;
}

.badge_list_box > b {
    font-weight: 200;
    border: solid 1px black;
    font-size: 0.8em;
    padding: 1px 3px;
    border-radius: 4px;
}

.badge_list_box > b.badge_line_navy {
    color: slateblue;
    border-color: slateblue;
}

.badge_list_box > b.badge_line_gray {
    color : gray;
    border-color: gray;
}

.price_box {
    width: 100%;
    margin-top: 25px 0;
    word-spacing: 0.3em;
}

.price_box > b.percent {
    color: rgb(10, 200, 10);
    font-size: 1.4em;
}

.price_box > b.sale_price {
    font-size: 1.4em;
}

.price_box > b.price {
    color: gray;
    text-decoration: line-through;
    font-weight: 400;
    font-size:0.8em;
    margin-left: -5px;
}

.point_box {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.point_box > .point_label {
    float: left;
}

.point_box > .point_text {
    float: right;
}

.point_box > .point_text > b {
    color: #4dac27;
    margin-right: 5px;
}

.point_box > .point_text > img {
    height: 1.2em;
    vertical-align: -3px;
}

.delivery_box {
    width: 100%;
    padding: 20px 0;
}

.delivery_box > .delivery_info {
    float: left;
}

.delivery_box > .free_delivery {
    float: right;
}

.midnight_delivery {
    float: right;
    color: slateblue;
    font-size:0.5em;
}

.arrived_time {
    float: right;
}

.default_delivery {
    float: right;
}

.login_info_box {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.login-text {
    
    color: #4dac27;
    text-decoration: underline;
}

.after-text {
    font-weight: 100;
}

.login_info_box > info-text {
    font-weight: 500;
}

.login_info_box > .text-of-login {
    font-weight: 100;  
}

.alrim-box > .alrim-text {
    font-size: 13px;
    color: gray;
}

.alrim-sinchung {
    border: solid 1px;
    padding: 1px 3px;
    border-radius: 4px;
    border-color: 474c98;
    font-size: 13px;
    color:#474c98;
    float: right;
}

.location {
    border: solid 1px;
    height: 38px;
    width: 100%;
    padding: 0 13px 1px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    border-color : gray;
}

.bottom-box {
    border: solid 1px;
    margin: 30px 0;
    height: 130px;
    border-radius: 4px;
    background-color: rgb(240, 239, 239);
    border-color : white;
}

.alripnida {
    padding: 10px;
    font-size: 17px;
}

.sulmyung {
    padding: 10px;
    font-size: 13px;
}





